<template name="gpInfoTemplate">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-money fa-fw"></i>Results</h3>
        </div>
        
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Language</th>
                            <th>Address</th>
                            <th>Suburb</th>
                            <th>State</th>
                        </tr>
                    </thead>
                    <tbody id="gptable" class="list">
                        {{#each allgp}}
                        <tr>
                            <td>{{name}}</td>
                            <td>{{language}}</td>
                            <td>
                                <a id="addr" value="{{_id}}" href="#" target="_blank">{{address}}</a>
                            </td>
                            <td>{{suburb}}</td>
                            <td>{{state}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            <div class="text-right">
                <div class="text-right">
                     <ul class="pager">
                        <li class="previous">
                            <a href="#">&larr; Previous</a>
                        </li>
                        <li class="next">
                            <a href="#">Next &rarr;</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

