<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A web app that supports searching and dispaying GP information.">
    <meta name="author" content="Jiankun Rui | 721393">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!--
    <script src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyCuWKnVsScnGqWy-sRU0QQ1OkSCA0G_Osg"></script>
    -->
    <title>Find a GP</title>
    
</head>

<body>
    
    
    <h1></h1>
    
    {{>navBarTemplate}}
    
    
    <!-- Page Content -->
    <div class="container">
{{>searchViewTemplate}}
        <div class="row">
            <div class="col-md-9">
                <h1 class="page-header">
                    Find-a-GP
                    <small>For international students and travellers</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->
        
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    {{>mapViewTemplate}}
                </div>
                <div class="well">
                    <h4>Sponsor</h4>
                    <img class="img-responsive" src="http://placehold.it/880x200" alt="">
                </div>
            </div> 
            <!-- /.col-md-9 -->


            <!-- Sidebar Widgets Column -->
            <div class="col-md-3">
                <div class="well">
                    {{>signInTemplate}}
                </div>

                <!-- Frequent Search, just pretend -->
                <div class="well">
                    <h4>Rate</h4>
                    <div class="row">
                        <div class="col-lg-12">
                            <ul class="list-unstyled">
                                <li><a href="#">★★★★☆ Doctor To You</a>
                                </li>
                                <li><a href="#">★★★★☆ Children Dentist</a>
                                </li>
                                <li><a href="#">★★★☆☆ Medical Clinic</a>
                                </li>
                                <li><a href="#">★★☆☆☆ Medical and Dental Centre</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.col-lg-6 -->
                    </div>
                    <!-- /.row -->
                </div>

                <!-- Side Widget -->
                <div class="well">
                    <h4>Tips</h4>
                    <p>Tips for users are shown here.</p>
                </div>
                
                <!-- Side Ads -->
                <div class="well">
                    <h4>Ads</h4>
                    <img class="img-responsive" src="http://placehold.it/300x300" alt="">
                </div>

            </div>
            <!-- /.col-md-3 -->

        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; ISYS90077 - Jiankun Rui - 721393 , 2016</p>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->
</body>
