<template name="mapViewTemplate">
    <div class="panel panel-default">
        <div class="row" style="margin-right: 10px">
            <div class="col-md-3 selectContainer">
                <select id="languageOption" class="form-control" name="languange">
                    <option value="">Choose a language</option>
                    <option value="en">English</option>
                    <option value="cn">Chinese</option>
                    <option value="jp">Japanese</option>
                    <option value="kr">Korean</option>
                    <option value="fr">French</option>
                    <option value="other">Other</option>
                </select>
            </div>
            <div class="col-md-9 input-group">
                <span class="input-group-text">
                    <input id="mapText" type="text" class="form-control"
                           placeholder="Search keywords">
                </span>
                <span class="input-group-btn">
                    <button id="showNearby" class="btn btn-default" type="button">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
                <span class="input-group-btn">
                    <button id="recenter" class="btn btn-info active" type="button" >
                        <span class="glyphicon glyphicon-screenshot"></span>
                    </button>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="panel-body">
                <div class="map-container">
                    {{> googleMap name="nearbyGPMap" options=mapOptions}}
                </div>
            </div>
        </div>
    </div>
</template>

