<template name="searchViewTemplate">
    <!-- There is a weird bug with Modal if not putting those <script> here -->
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- Modal -->
    <div class="container">
        <div class="modal fade" id="searchModal" tabindex="-1" role="dialog">
            <div class="modal-dialog-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <!-- GP Search Bar & information grid-->
                        <div class="row">
                            <!-- GP Search Bar-->
                            {{>searchBarTemplate}}
                        </div>
                        <hr>
                        <div class="row">
                            <!-- GP information grid -->
                            {{>gpInfoTemplate}}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="close" data-dismiss="modal">Close</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div><!-- /.container -->
</template>

