<template name="searchBarTemplate">
    <form class="searchbar">
        <h4 class="col-xs-12">Search a GP with locations and languange preferences.</h4>
        <div class="form-group">   
            <div class="col-xs-3 selectContainer">
                <select id="stateOption" class="form-control" name="state">
                    <option value="">Choose a state</option>
                    <option value="act">ACT</option>
                    <option value="jbt">JBT</option>
                    <option value="nsw">NSW</option>
                    <option value="nt">NT</option>
                    <option value="qld">QLD</option>
                    <option value="sa">SA</option>
                    <option value="tas">TAS</option>
                    <option value="vic">VIC</option>
                    <option value="wa">WA</option>
                </select>
            </div>
            <div class="col-xs-3 selectContainer">
                <select id="languageOption" class="form-control" name="languange">
                    <option value="">Choose a language</option>
                    <option value="en">English</option>
                    <option value="cn">Chinese</option>
                    <option value="jp">Japanese</option>
                    <option value="kr">Korean</option>
                    <option value="fr">French</option>
                    <option value="other">Other</option>
                </select>
            </div>
            <div class="col-xs-5">
                <input id="keywordText" type="text" class="form-control" placeholder="Suburb, postcode, or other keywords">
            </div>
            <div class="col-xs-1">
                <span class="input-group-btn">
                    <button id="search" class="btn btn-default" type="button">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>
    </form>
</template>

