<template name="signInTemplate">
    <div class="signin">
        <form class="form-signin">
            <h3 class="form-signin-heading">Sign in</h3>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <div class="checkbox">
                <label>
                  <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            <div class="registerLink">
            <a href="#">Register an account</a>
            </div>
        </form>
    </div>
</template>

